.App{
  background-color: rgb(253, 248, 225);
}

/* header */
.header-back{
  background-color: aliceblue;
  height: 100px;
}

.title-link{
  color: black;
  margin-left: 150px;
  font-size: 25px;
}

.text-link{
  color: black;
}

/* footer */
.footer{
  width: 100%;
  height: 80px;
}

.footer-sns-links{
  margin-top: 0px;
}

.footer-wantedly{
  width: 27px;
}

.footer-sns-link{
  font-size: 25px;
}

/* profile */
.my-name{
  font-size: 40px;
  padding-right: 15px;
}

.job-title{
  font-size: 35px;
  margin-top: 40px;
  padding-right: 10px;
}

.photo-card{
  border: none !important;
  margin-left: 15px;
  background-color: rgb(253, 248, 225) !important;
}

.my-photo{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.sns-links{
  margin-top: 30px;
}

.wantedly{
  width: 30px;
}

.sns-link{
  font-size: 30px;
}

.skills{
  position: absolute;
}

.skill-item{
  margin-right: 20px;
}

.skill-image{
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto ;
}

/* projects */
.title-line{
  width: 80%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.project-cards{
  padding-left: 100px;
  padding-right: 100px;
}

.project-card{
  margin: 30px;
  padding: 40px;
}

.comming-soon{
  padding-top: 270px;
}
